<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
			<meta charset="ISO-8859-1">
			<link rel="stylesheet" href="/css/home.css">
			<title>Home</title>
	</head>
	<body>
	
		<nav class = "nav-box">
			<h1>Budget Application</h1>
			<div class = "login-inputs">
				<input class = "login-input" type = "text" placeholder = "Username"></input>
				<input class = "login-input" type = "text" placeholder = "Password"></input>
			</div>
		</nav>
		
		<div class = "body-app">
			
		</div>
	</body>
</html>