<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="ISO-8859-1" />
    <link rel="stylesheet" href="/css/home.css" />
    <title>Home</title>
  </head>
  <body>
    <nav class="nav-box">
      <h1>Budget Application</h1>
      <button class="btn-register">Register</button>
      <button><a href="/login">Login</a></button>
    </nav>

    <div class="body-app">
      <div id="body-app-child">
        <p>
          Tired of budget apps that assume what you have spent based on your
          bank account?
        </p>
        <p>How about you use our app where you enter it all yourself?</p>
        <p>At the end of the day noone knows your money better than you.</p>
        <p>Register Now!</p>
      </div>
    </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</html>
