<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="ISO-8859-1" />
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/expenses-display.css" />
    <title>Home</title>
  </head>
  <body>
    <nav class="nav-box">
      <h1>Budget Application</h1>
      <button class="btn-register">Register</button>
      <button><a href="/login">Login</a></button>
    </nav>

    <div class="body-app">
      <div id="body-app-child"></div>
    </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script type="module" src="/js/home.js"></script>
</html>
